<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.pffy.android.helloworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Adding tools:ignore attribute mutes warnings -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8"
        tools:ignore="OldTargetApi" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Must add this <activity> tag to launch HelloActivity on app start -->
        <activity
            android:name="HelloActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>